.title {
  font-size: 1.7rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  margin-left: 0.7rem;
}

.daily-item {
  background-color: #ffffff;
  backdrop-filter: blur(10px);
  color: rgb(0, 0, 0);
  border-radius: 15px;
  height: 40px;
  margin: 0.4rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0.3rem 1.2rem;
}

.icon-small {
  width: 40px;
}

.day {
  font-family: Satoshi-Bold;
  flex: 1 1;
  margin-left: 1rem;
}

.description {
  flex: 1 1;
  margin-right: 1rem;
  text-align: right;
}

.min-max {
  background-color: black;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  color: rgb(244, 153, 48);
  font-family: Satoshi-light;
}

.daily-details-grid {
  background-color: #000000;
  border-radius: 0 0 15px 15px;
  grid-row-gap: 0;
  grid-column-gap: 1rem;
  column-gap: 1rem;
  display: grid;
  flex: 1 1;
  grid-template-columns: auto auto;
  padding: 1rem;
  margin: 0 0.8rem;
}

.daily-details-grid-item {
  margin: 0.5rem 0;
  display: flex;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  font-family: Satoshi-light;
}

.daily-details-grid-item label:first-child {
  color: rgb(255, 255, 255);
}

.daily-details-grid-item label:last-child {
  color: rgb(244, 153, 48);
  font-family: Satoshi-light;
}
