@font-face {
  font-family: Satoshi-Regular;
  src: url(/Satoshi-Regular.otf);
}
@font-face {
  font-family: Satoshi-Black;
  src: url(/Satoshi-Black.otf);
}

@font-face {
  font-family: Satoshi-Bold;
  src: url(/Satoshi-Bold.otf);
}

@font-face {
  font-family: Satoshi-light;
  src: url(/Satoshi-Light.otf);
}
.weather {
  max-width: 350px;
  height: 100%;
  background-color: #456a78a2;
  color: rgb(0, 0, 0);
  border-radius: 17px;
  box-shadow: 10px -2px 20px 2px#12121268;
  margin: 20px auto 0 auto;
  padding: 1rem;
  background-image: url(/images/cloudy.jpg);
  background-position: center;
  object-fit: contain;
}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
}
.p-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.weather .city {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1;
  margin: 0;
  font-family: Satoshi-Black;
}

.weather-description {
  line-height: 1;
  margin: 0;
  font-family: Satoshi-light;
  font-size: 0.9rem;
}

.temperature {
  font-size: 5rem;
  font-family: Satoshi-Bold;
  font-weight: 600;
  width: auto;
  letter-spacing: -2px;
  margin: 10px 0;
}

.details {
  width: 100%;
  padding-left: 30px;
}

.parameter-row {
  display: flex;
  justify-content: space-between;
}

.parameter-label,
.parameter-value {
  text-align: left;
  font-weight: 400;
  font-family: Satoshi-Regular;
  margin: 0.1rem 0;
}
.parameter-value {
  text-align: right;
  color: rgb(244, 153, 48);
}

.detail-class {
  font-family: swan-bold;
  font-size: 1.2rem;
}
